@font-face {
  font-family: OPTIEngeEtienne;
  src: url("../fonts/OPTIEngeEtienne.otf") format("opentype");
}

body {
  font-family: 'OPTIEngeEtienne', sans-serif;
}

input {
  font-family: 'OPTIEngeEtienne', sans-serif;
  font-size: 200%;
}

.header {
  text-align: center;
  margin-bottom: 5%;
  padding-top: 1%;
  color: white;
}

.header h1 {
  font-weight: normal;
  font-size: 500%;
}

.container h2 {
  font-weight: normal;
}

.primary-info {
  border: solid;
  border-width: 2px;
  border-radius: 2ch;
  border-color: white;
  /* background-color: */
  padding-left: 10px;
  color: white;
  font-size: 200%;
}

.character-info {
  border: solid; 
  border-width: 2px;
  border-radius: 2ch;
  border-color: white;
  color: white;
  text-align: left;
  text-indent: 2%;
  font-size: 300%;
}

.container {
  display: flex;
  margin: 0 5%;
}

.primary-column {
  flex-basis: 50%;
}

.secondary-column {
  flex-basis: 50%;
  margin-left: 2%;
}

body {
  padding-left: 2%;
  padding-right: 2%;
  background-color: rgb(47, 40, 122);
}  

#name {
  text-align: center;
}

#portrait {
  border-radius: 20px;
  width: 100%;
  max-width: 100%;
  margin-top: 2%;
}

@media only screen and (max-width: 800px) {
  .primary-info {
    font-size: 200%;
    text-align: center;
    
  }
  .container{
    flex-direction: column;
  }

  .secondary-column {
    margin-top: 4%;
  }

  .character-info {
    font-size: 300%;
  }
}