/* @font-face {
  font-family: finalFont;
  src: url();
} */

.header {
  text-align: center;
  padding-top: 1%;
  color: white;
  }

.primary-info {
  border: solid;
  border-width: 2px;
  border-radius: 2ch;
  border-color: white;
  width: 29%;
  /* background-color: */
  margin-top: 2%;  
  padding-left: 10px;
  color: white;
  }

.character-info {
  border: solid; 
  border-width: 2px;
  border-radius: 2ch;
  border-color: white;
  width: 50%;
  color: white;
  text-align: left;
  text-indent: 2%;
  }


main { 
  text-align: right;
}

body {
  padding-left: 2%;
  padding-right: 2%;
  background-color: rgb(47, 40, 122);
  }

/*p .primary-info {
  text-align: center;
  /* border-style: dashed; */
  /* creating one border box around text */
  

#name {
  text-align: center;
}

#portrait {
  border-radius: 20px;
  width: auto;
  max-width: 30%;
  margin-top: 2%;
}
/* 
@media only screen and (min-width: 900px) { */